<h3 class="mb-4">{{title}}</h3>
<div class="card">
    <div class="card-body">
        <form [formGroup]="myForm" #formDir="ngForm" (ngSubmit)="submitForm()">
            <div [hidden]="formDir.submitted && res && !res.error">
                <div class="cross-validation"
                    [class.cross-validation-error]="myForm.errors?.newPswdUnmatch && myForm.errors?.oldPswdMatch && (myForm.touched || myForm.dirty)">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" formControlName="email" class="form-control" id="emailInput"
                            placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <label for="email">Old Password</label>
                        <input type="password" formControlName="oldpswd" class="form-control" id="email"
                            placeholder="Old Password">
                        <div *ngIf="oldpswd.invalid && (oldpswd.dirty || oldpswd.touched)" class="alert alert-danger">
                            <div *ngIf="oldpswd.errors.required">
                                This field is required.
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="newPassword">New Password</label>
                            <input type="password" formControlName="newpswd1" class="form-control" id="newPassword"
                                placeholder="New Password">
                            <div *ngIf="newpswd1.invalid && (newpswd1.dirty || newpswd1.touched)"
                                class="alert alert-danger">
                                <div *ngIf="newpswd1.errors.required">
                                    This field is required.
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="confirmPassword">Confirm Password</label>
                            <input type="password" formControlName="newpswd2" class="form-control" id="confirmPassword"
                                placeholder="Confirm Password">
                            <div *ngIf="newpswd2.invalid && (newpswd2.dirty || newpswd2.touched)"
                                class="alert alert-danger">
                                <div *ngIf="newpswd2.errors.required">
                                    This field is required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="myForm.errors?.oldPswdMatch && (newpswd1.touched || newpswd1.dirty)"
                        class="cross-validation-error-message alert alert-danger">
                        New Password Cannot Match Old Password.
                    </div>
                    <div *ngIf="!myForm.errors?.oldPswdMatch && myForm.errors?.newPswdUnmatch && (newpswd2.touched || newpswd2.dirty)"
                        class="cross-validation-error-message alert alert-danger">
                        Passwords Do Not Match.
                    </div>
                </div>
                <button type="submit" class="btn" [disabled]="!myForm.valid">Update</button>
            </div>
            <div class="submitted-message" *ngIf="formDir.submitted && res && !res.error">
                <p>You've successfully changed your password!</p>
                <a routerLink="/ai-bot" class="btn">Go Back</a>
            </div>
            <div class="submitted-message alert alert-danger my-2" *ngIf="formDir.submitted && res && res.error">
                <p>{{res.message}}</p>
                <!-- <a href="" class="btn">Retry</a> -->
            </div>
        </form>
    </div>
</div>