.btn{
    display: block;
    background-color: var(--btnColor1);
    color:white;
    border: transparent;
}

.button-group .btn{
    background-color: white;    
    color: var(--btnColor1);
    border: 1px solid var(--btnColor1);
    border-radius: 0;
    width: 110px;
}

.button-group .btn:hover{
    background-color: var(--btnColor1);
    color: white;
    border: 1px solid var(--btnColor1);
    border-radius: 0;
    width: 110px;
}

.card-img-top{
    /* border: solid grey 2px; */
    border-radius: 500px 500px 500px 500px;
    transition: all 0.3s;
    transform: scale(0.8);
    /* position: relative;     */
}

.card{
    padding: 0;
}

.card:hover .card-img-top{
    /* border: solid grey 2px; */
    border-radius: 0px 0px 0px 0px;
    transform: scale(1.0);
    opacity: 0.5;    
}
.overlay{
  position: absolute;
  bottom: 25%;
  left: 0;
  right: 0;
  height: 0;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
}
.card{
    position: relative;
}
.card:hover .overlay{
    height: 70%;
    opacity: 1;
}

.button-group {
    display: inline-block;
    position: absolute;
    top: 33%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}