.btn{
    display: block;
    background-color: var(--btnColor1);
    color:white;
    border: transparent;
}

a {
    color: var(--btnColor2);
    text-decoration: none;
    background-color: transparent;
}