<h3 class="mb-4">{{title}}</h3>
<div class="card">
  <div class="card-body">
    <form>
      <div class="form-group form-inline">
        Search by ID: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="service.searchTerm" />
        <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <!-- <th scope="col">#</th> -->
              <th scope="col">Transaction ID</th>
              <th scope="col">Amount</th>
              <th scope="col">Transaction Status</th>
              <th scope="col" sortable="transaction_date" (sort)="onSort($event)">Transaction
                Date</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="(total$ | async)>0; else nodata">
              <tr *ngFor="let bill of bills$ | async">
                <td>
                  <ngb-highlight [result]="bill.transaction_id" [term]="service.searchTerm"></ngb-highlight>
                </td>
                <td>
                  <ngb-highlight [result]="bill.amount | number"></ngb-highlight>
                  (<ngb-highlight [result]="bill.currency"></ngb-highlight>)
                </td>
                <td>
                  <ng-container *ngIf="(bill.transaction_status | number)=='1'; else failed">
                    Completed
                  </ng-container>
                  <ng-template #failed>Failed</ng-template>
                  <!-- <ngb-highlight [result]="bill.transaction_status | number"></ngb-highlight> -->
                </td>
                <td>
                  <ngb-highlight [result]="bill.transaction_date | date"></ngb-highlight>
                </td>
                <td class="p-0">
                  <ng-container *ngIf="(bill.transaction_status | number)=='1'">
                    <a href="" class="btn pt-2">
                      <i>
                        <svg id="editIcon" height="401pt" viewBox="0 -1 401.52289 401" width="401pt"
                          xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="m370.589844 250.972656c-5.523438 0-10 4.476563-10 10v88.789063c-.019532 16.5625-13.4375 29.984375-30 30h-280.589844c-16.5625-.015625-29.980469-13.4375-30-30v-260.589844c.019531-16.558594 13.4375-29.980469 30-30h88.789062c5.523438 0 10-4.476563 10-10 0-5.519531-4.476562-10-10-10h-88.789062c-27.601562.03125-49.96875 22.398437-50 50v260.59375c.03125 27.601563 22.398438 49.96875 50 50h280.589844c27.601562-.03125 49.96875-22.398437 50-50v-88.792969c0-5.523437-4.476563-10-10-10zm0 0" />
                          <path
                            d="m376.628906 13.441406c-17.574218-17.574218-46.066406-17.574218-63.640625 0l-178.40625 178.40625c-1.222656 1.222656-2.105469 2.738282-2.566406 4.402344l-23.460937 84.699219c-.964844 3.472656.015624 7.191406 2.5625 9.742187 2.550781 2.546875 6.269531 3.527344 9.742187 2.566406l84.699219-23.464843c1.664062-.460938 3.179687-1.34375 4.402344-2.566407l178.402343-178.410156c17.546875-17.585937 17.546875-46.054687 0-63.640625zm-220.257812 184.90625 146.011718-146.015625 47.089844 47.089844-146.015625 146.015625zm-9.40625 18.875 37.621094 37.625-52.039063 14.417969zm227.257812-142.546875-10.605468 10.605469-47.09375-47.09375 10.609374-10.605469c9.761719-9.761719 25.589844-9.761719 35.351563 0l11.738281 11.734375c9.746094 9.773438 9.746094 25.589844 0 35.359375zm0 0" />
                        </svg>
                      </i>
                    </a>
                  </ng-container>
                </td>
              </tr>
            </ng-container>
            <ng-template #nodata>
              <tr>
                <td colspan="15">No Data Available</td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>


      <div class="d-flex flex-wrap justify-content-between p-2">
        <ngb-pagination [collectionSize]="(total$ | async)" [(page)]="service.page" [pageSize]="service.pageSize">
        </ngb-pagination>
        <!-- (total$ | async)! -->
        <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
          <option [ngValue]="5">5 items per page</option>
          <option [ngValue]="10">10 items per page</option>
          <option [ngValue]="15">15 items per page</option>
        </select>
      </div>

    </form>
  </div>
</div>