<h3>{{title}}</h3><br>
<div class="card">
    <div class="card-body">
        <!-- <form>
            <div class="form-group form-inline">
                Search: <input class="form-control ml-2" type="text" />
            </div>
        </form>         -->
        <div class="table-responsive">        
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Invoice Period</th>
                    <th scope="col">AI Messages</th>
                    <th scope="col">Customer Engagement</th>
                    <th scope="col">Bots</th>
                    <th scope="col">Human Messages</th>
                    <th scope="col">AI Messages-AddOn</th>
                    <th scope="col">Customer Engagement-AddOn</th>
                    <th scope="col">Bots-AddOn</th>
                    <th scope="col">Human Messages-AddOn</th>
                </tr>
                </thead>
                <!-- <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>
                </tbody> -->
            </table>
        </div>
    </div>
</div>